.App {
  text-align: center;
}

.App-header {
  background-color: darkgreen;
  min-height: 70px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

pre {
    white-space: pre-wrap;
}
.form {
  display: flex;
}
table {
  border: 1px solid black;
  border-collapse: collapse;
  
}
thead {
  background-color: bisque;
}

tr:nth-child(even) {
  background-color: beige;
}
td, tr {
  border: 1px solid black;
  padding: 5px;
}